* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(204, 231, 202);
}

h1 {
    font-size: 1.5em;
}

.initial-state {
    width: 70%;
    margin: auto;
}

body .not-visible {
    display: none;
}

.playing-state {
    display: flex;
    justify-content: center;
}

.container,
.player-choice,
.information {
    margin: 3vh;
    padding: 0.2vh;
    text-align: center;
    font-size: min(5vw, 3vh);
}

.board,
.score-board,
.game-ruler {
    border: 1px solid #ccc;
    padding: clamp(0.1em, calc(0.1em + 0.2vw), 0.4em);
    border-radius: 0.2rem;
}

.player-choice {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: clamp(0.2em, 0.1em + 0.2vw, 0.4em);
    justify-content: center;
    align-items: center;

    * {
        margin: clamp(0.2em, 0.1em + 0.2vw, 0.4em);
    }

    label {
        justify-self: left;
    }
}

.board {
    justify-self: right;
    display: grid;
    width: min(600px, 100%);
    aspect-ratio: 1/1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: clamp(0.1em, 0.1em + 0.2vw, 0.4em);
    background-color: rgba(247, 247, 119, 0.705);
}


.cell {
    display: flex;
    width: 100%;
    padding: min(0.3vw, 0.3vh);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: min(10vw, 10vh);
    border: 1px solid grey;
    background: var(--color-primary);
    cursor: pointer;
}

.win-cells {
    background-color: rgb(219, 126, 100);
}


.score-board {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-primary);
    font-size: min(4vw, 2vh);
}

.score1,
.score2 {
    display: flex;
    flex-direction: column;
    text-align: center;

    > p {
        font-size: 3em;
    }
}

.game-ruler {
    background-color: var(--color-primary);
    font-weight: 800;
    font-size: inherit;
    transition: transform 0.5s ease;
    padding: 0.6em 1.2em;
}

.game-ruler:hover {
    box-shadow: inset -0.1em -0.1em 0.1em #ccc,
        inset 0.1em 0.1em 0.1em #ccc;
    transform: scale(1.1);
}

.activated:hover {
    cursor: pointer;
}

.desactivated:hover {
    cursor: not-allowed;
}


@media (max-width:800px) {

    .playing-state {
        flex-direction: column;
        margin: auto;
    }

    .playing-state > * {
        width: 80%;
        margin: auto;
    }

}